body{
    margin: 0;
}
h1{
    font-size: 50px;
}
.hilight{
    color: darkgreen;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(image/top-banner.png);
}
section{
    height: 500px;
    background-repeat: no-repeat;
}
.link{
    text-decoration: none;
    background-color: rgb(6, 158, 107);
    padding: 10px 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}